* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: black;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* border-left: 1px solid black; */
  padding: 10px;
}

/* .btn {
  background-color: transparent;
}

.btn:hover {
  background-color: transparent;
} */

.jumbotron {
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 10px solid black;
  margin-top: -2rem;
}

.flex-container {
  margin: 0;
}

.jumbotron .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles {
  display: block;
  width: 100%;
}

.header-title {
  margin-top: 0;
}

#currentDay {
  font-size: 30px;
  padding-top: 2rem;
  letter-spacing: .5rem;
}

.time-block {
  text-align: center;
  border-radius: 15px;
  /* border: 1px solid black; */
  padding: 2rem;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  border: 1px solid black;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  max-width: 6rem;
  padding-top: 1rem;
}

.todo {
  white-space: pre-wrap;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  text-align: center;
  background-color: #06aed5;
  max-width: 6rem;
  color: white;
  border: none;
  
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.save {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


#light-dark-btn {
  border: none;
  /* background-color: transparent; */
  margin-top: 2rem;

}

.icon::before {
  display: inline;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.toggle::before {
  font: var(--fa-font-solid);
  content: "\f205";
  /* background-image: ; */
}

